
.contact {
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  display: flex;

  .form-wrapper {
  flex: 3 1 40rem;
  }

  .contact__right img {
  width: 40vw;
  height: 100%;
  object-fit: cover;
  }

  .form-wrapper h2 {
  margin: 5rem 0rem;
  text-align: center;
  }

  .contact__form {
  display: flex;
  flex-direction: column;
  }

  input {
  margin: 1.5rem 0;
  padding: 1rem 0;
  }

  .contact__btn {
  margin-top: 2rem;
  background: $special-color;
  color: $white-color;
  border: none;
  padding: 1rem 8rem;

    &:hover {
    color: #000;
    cursor: pointer;
    transition: all ease 0.5s;
    } 
  }
}