
footer {
  background: $background-color;
  color: $white-color;
  display: flex;
  padding: 3rem 5%;
  align-items: center;
  flex-wrap: wrap;
  min-height: 10vh;

    ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
    }

    h4 {
    flex: 3 1 40rem;
    font-size: calc(1.4rem + 1vw);
    }
}